---
layout: default
title: 标签
permalink: /tags/
---

<section class="taxonomy-section">
  <div class="container">
    <h1 class="taxonomy-title">🏷️ 标签</h1>
    
    <div class="tags-cloud">
      {% assign tags_sorted = site.tags | sort %}
      {% for tag in tags_sorted %}
      <a href="#{{ tag[0] }}" class="tag-item" style="font-size: {{ tag[1].size | times: 0.02 | plus: 0.88 }}rem;">
        #{{ tag[0] }}
        <span class="tag-count">{{ tag[1].size }}</span>
      </a>
      {% endfor %}
    </div>
    
    <div class="tags-list">
      {% for tag in tags_sorted %}
      <div class="tag-section" id="{{ tag[0] }}">
        <h2 class="tag-name">#{{ tag[0] }}</h2>
        <ul class="tag-posts">
          {% for post in tag[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
