/* 文章列表页 & 页面标题：去掉链接蓝色和下划线 */
.archive__item-title a,
.page__title a {
  color: inherit;
  text-decoration: none;
}

/* 悬停时给一点提示（可选） */
.archive__item-title a:hover,
.page__title a:hover {
  text-decoration: underline;
}

.page__content {
  font-family:
    "LXGW WenKai",
    "Noto Serif SC",
    "Source Han Serif SC",
    "Songti SC",
    "STSong",
    serif;
}

.author__bio.p-note-spoil {
  background-color: #222;
  color: transparent;
  border-radius: 4px;
  padding: 0em 0em;
  transition: color 0.25s ease;
}

.author__bio.p-note-spoil:hover {
  color: #eee;
}