/* 文章列表页 & 页面标题：去掉链接蓝色和下划线 */
.archive__item-title a,
.page__title a {
  color: inherit;
  text-decoration: none;
}

/* 悬停时给一点提示（可选） */
.archive__item-title a:hover,
.page__title a:hover {
  text-decoration: underline;
}

.page__content {
  font-family:
    "LXGW WenKai",
    "Noto Serif SC",
    "Source Han Serif SC",
    "Songti SC",
    "STSong",
    serif;
}

// .author__bio.p-note-spoil {
//   color: #252525;
//   background-color: #252525;
//   transition: color 0.15s ease;
// }

// .author__bio.p-note-spoil:hover {
//   color: #ffffff;
// }

.layout--home {
  background-image: linear-gradient(rgba(255, 255, 255, 0.107)), url(https://free.picui.cn/free/2025/09/09/68c0398b3c11c.png) !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  z-index: -2;
}

// body.layout--home::before {
//   content: "";
//   position: fixed;
//   inset: 0;
//   background: rgba(255, 255, 255, 0);
//   -webkit-backdrop-filter: blur(8px);
//   backdrop-filter: blur(8px);
//   z-index: 0;
// }

.layoutCover--home{
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.658);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 0;
}

.initial-content.main.archive{

  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 0;
}


.greedy-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2em;
    background: #ffffff00;
}

.heimu {
  color: #222;
  background-color: #222;
  transition: color 0.15s ease;
}

.heimu:hover {
  color: #fff;
}