/* 文章列表页 & 页面标题：去掉链接蓝色和下划线 */
.archive__item-title a,
.page__title a {
  color: inherit;
  text-decoration: none;
}

/* 悬停时给一点提示（可选） */
.archive__item-title a:hover,
.page__title a:hover {
  text-decoration: underline;
}

.page__content {
  font-family:
    "LXGW WenKai",
    "Noto Serif SC",
    "Source Han Serif SC",
    "Songti SC",
    "STSong",
    serif;
}

// .author__bio.p-note-spoil {
//   color: #252525;
//   background-color: #252525;
//   transition: color 0.15s ease;
// }

// .author__bio.p-note-spoil:hover {
//   color: #ffffff;
// }

body.layout--home {
  background-image: linear-gradient(rgba(255, 255, 255, .13)),
  url("https://free.picui.cn/free/2025/09/09/68c0398b3c11c.png") !important;
  /*在这里修改图片*/
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  -webkit-backdrop-filter: blur(3px) !important;
  backdrop-filter: blur(3px) !important; /*在这里修改模糊程度*/
}

.archive{
  background: rgba(255, 255, 255, .3);
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  /*在这里修改模糊程度*/
}

.heimu {
  color: #222;
  background-color: #222;
  transition: color 0.15s ease;
}

.heimu:hover {
  color: #fff;
}